{
  "connection": {
    "host": "127.0.0.1",
    "user": "test_user",
    "database": "testdb",
    "port": 3306
  },
  "targetPackage": "com.davistiba.wedemy",
  "$comment": "DONT PUT YOUR PASSWORD IN THIS FILE"
}